In [32]:
x = 7
y = "data"

print(x)
print(y)

my_variable = 10
print(my_variable)

my_variable += 5
print(my_variable)

7
data
10
15

Working with Strings

In [33]:
"I am a MSBA student"

question = "What are you studying?"
answer = "Analytics!"

print(question)
print(answer)

print(question + " " + answer) # Concatenation using standard format
print(f"{question} {answer}") # Concatenation using f-string format

### adding a line break
print(question + "\n" + answer)

type(answer)

What are you studying?
Analytics!
What are you studying? Analytics!
What are you studying? Analytics!
What are you studying?
Analytics!

str

In [34]:
len(answer)

10

In [35]:
### Indexing a string

answer[0]  # First character
answer[2]  # Third character
answer[9]  # Tenth character

answer[-1]  # Last character

'!'

In [36]:
course = "CTBA"

len(course)

print(course[0:2])  # First two characters

CT

In [37]:
#Functions and Methods

answer_cap = answer.upper() # Convert to uppercase 
print(answer_cap)

answer.lower() # Convert to lowercase

answer.find("t") # Find the index of the first occurrence of "t"

ANALYTICS!

5

In [38]:
name = "Pamela Schlosser"

print("Hello, my name is " + name + ". I am studying Business Analytics.")
print(f"Hello, my name is {name}. I am studying Business Analytics.")

Hello, my name is Pamela Schlosser. I am studying Business Analytics.
Hello, my name is Pamela Schlosser. I am studying Business Analytics.

In [39]:
##Tuples
t1 = (1, 2, 3, 4, 5)
print(t1)

#t1[0] = 11 #Tuples are immutable, so this will give an error

(1, 2, 3, 4, 5)

In [ ]:
d1 = {"name": "Pamela Schlosser", "age": 23, "city": "Williamsburg"}

print(d1)

print(d1["name"])

d1["email"] = "pgschlosser@wm.edu"

print(d1)

{'name': 'Pamela Schlosser', 'age': 23, 'city': 'Williamsburg'}
Pamela Schlosser
{'name': 'Pamela Schlosser', 'age': 23, 'city': 'Williamsburg', 'email': 'pgschlosser@wm.edu'}

In [46]:
##formatting the dictionary output with a for loop
for key, value in d1.items():
    print(key, ":", value)

name : Pamela Schlosser
age : 23
city : Williamsburg
email : pgschlosser@wm.edu

In [ ]:
##dictionary of dictionaries -- nested dictionaries

people = {
    "person1": {"name": "Pamela Schlosser", "age": 23, "city": "Williamsburg"},
    "person2": {"name": "John Doe", "age": 30, "city": "New Port News"},
}

In [48]:
distances = {
    
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20},
}

print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [50]:
##If Statements

x = 10

if x > 5:
    print("x is greater than 5")   
 
 
 ##if else
 
x = 4
 
if x %2 == 0:
    print("x is even")
else:
    print("x is odd")

x is greater than 5
x is even

In [51]:
###working with elif

x = 0
if x > 0:
    print("x is positive")
elif x ==0:
    print("x is zero")
else:
    print("x is negative")

x is zero

In [52]:
##for loop with an i and a range function
for i in range(5):
    print("i is ", i)

i is  0
i is  1
i is  2
i is  3
i is  4

In [53]:
x = 0

while x < 5:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [54]:
import numpy as np