In [31]:
x = 7
y = "data"

print(x)
print(y)

my_variable = 10
print(my_variable)

my_variable += 5
print(my_variable)

7
data
10
15

Working with Strings.

In [32]:
"Im into Data Science"

question = "What are you studying?"
answer = "Analytics"

print(question)
print(answer)

print(question + " " + answer)
##This is another way to print strings together
print(f"{question} {answer}")

What are you studying?
Analytics
What are you studying? Analytics
What are you studying? Analytics

In [33]:
##new line character within a string
print(question + "\n" + answer)

type(answer) ##tells class

What are you studying?
Analytics

str

In [34]:
len(answer) ##tells length of string

9

In [35]:
print(answer)
answer[0] ##first character
answer[2] ##third character
##answer[9] ##tenth character ##there is no tenth character so it will give an error

answer[-1] ##last character

Analytics

's'

In [36]:
course = "CTBA"

len(course) ##length of string
print(course[0:2])

CT

In [37]:
##Using the upper method to make the string uppercase 
answer_cap = answer.upper()
print(answer_cap)

ANALYTICS

In [38]:
answer.lower() ##makes string lowercase

'analytics'

In [39]:
answer.find("t") ##finds the index of the first occurrence of the letter "t"

5

In [40]:
name = "Pamela Schlosser"
print("Hello, my name is " + name + ". Nice to meet you!")

##rewrite this using f-strings
print(f"Hello, my name is {name}. Nice to meet you!")

Hello, my name is Pamela Schlosser. Nice to meet you!
Hello, my name is Pamela Schlosser. Nice to meet you!

In [41]:
##Tuple example
t1 = (1, 2, 3, 4, 5)

#t[0] = 11 ##this will give an error because tuples are immutable

In [ ]:
##dictionary example
d1 = {"name": "Pamela Schlosser", "age": 23, "city": "Williamsburg"}

print(d1["name"]) ##outputs "Pamela Schlosser"
d1["age"] = 24 ##updates age to 24

d1["email"] = "pgschlosser@wm.edu" ##adds new key-value pair to dictionary

print(d1)

Pamela Schlosser
{'name': 'Pamela Schlosser', 'age': 24, 'city': 'Williamsburg', 'email': 'pgschlosser@wm.edu'}

In [ ]:
##Print a better format using .items method
for key, value in d1.items():
    print(key, ":" ,value)

name : Pamela Schlosser
age : 24
city : Williamsburg
email : pgschlosser@wm.edu

In [49]:
people = {
    "person1": {"name": "Pamela Schlosser", "age": 25, "city": "Williamsburg"},
    "person2": {"name": "John Doe", "age": 30, "city": "New Port News"}    
}

print(people)

{'person1': {'name': 'Pamela Schlosser', 'age': 25, 'city': 'Williamsburg'}, 'person2': {'name': 'John Doe', 'age': 30, 'city': 'New Port News'}}

In [52]:
distances = {    
    "A": {"B": 10, "C":15},
    "B": {"A": 10, "C":20},
    "C": {"A": 15, "B": 20}
}
print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [54]:
##if statements in python

x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [ ]:
##if else statement 
x = 4
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

In [56]:
##using elif

x = 0
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Zero

In [58]:
for i in range(5):
    print("i is: ", i)

i is:  0
i is:  1
i is:  2
i is:  3
i is:  4

In [59]:
#While loops

x = 0

while x < 5:
    if x%2 ==0:
        print(x, "is even")
    else: 
        print(x, "is odd")
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [60]:
import numpy as np